body {
    background-color: #4b0082;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .buttons{
      margin-top: 30px;
  }
  
  .quadrado {
    width: 900px;
    height: 750px; 
    background-color: #ffffff; 
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

.logo-icon {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px; 
    height: auto;
  }

  .input-task{
    margin-left: 0%;
    width: 42%;
    padding: 2%;
  }

  .botao {
    width: 40%;
    padding: 10px;
    background-color: #9370db;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 5%;
    font-weight: bold;
  }

  .criar-conta{
    color: white;
    text-decoration: none;
  }

  .botao:hover {
    background-color: #4b0082;
  }

 .login-box{
   margin-top: 30%;
   margin-left: 30%;
 }