body {
    background-color: #4b0082;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .buttons{
      margin-top: 30px;
  }
  
  .quadrado {
    width: 900px;
    height: 750px; 
    background-color: #ffffff; 
    border-radius: 45px;
    display: flex;
    flex-direction: column;
  }

input{
    width: 650px;
    height: 40px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: relative;
    left: 120px;
    top: 300px;
    background-color: #4b0082;
}

label{
    position: relative;
    left: 120px;
    top: 300px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #4b0082;
  }

.imagem {
    position: absolute;
    top: 0%;
    left: 51%;
    transform: translateX(-50%);
    width: 400px; 
    height: auto;
  }

  .button {
    width: 20%;
    padding: 10px;
    background-color: #9370db;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    margin-top: 45%;
    margin-left: 40%;
    font-weight: bold;
  }
  
  .criar-conta{
    color: white;
    text-decoration: none;
  }

  .botao:hover {
    background-color: #4b0082;
  }

  h1{
    font-size: 90%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: bold;
    margin-top: 29%;
    margin-left: 40%;
    color: #ffffff;
  }